# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Large Datasets (Ignore raw archives and massive folders)
data/raw/nf_prize_dataset.tar.gz
data/raw/training_set.tar
data/raw/training_set/
data/raw/download/
data/raw/README
data/raw/probe.txt
data/raw/qualifying.txt
data/raw/rmse.pl

# Ignore large sampled CSV files (user can reproduce them easily via script)
data/processed/ratings_sample.csv
data/processed/train.csv
data/processed/test.csv

# Large serialized models
outputs/models/*.pkl
outputs/models/*.pth
